#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Guessing-Section {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin: 50px;
}

.Guessing-Section div {
  display: grid;
  align-items: center;
  grid-template-rows: minmax(100px, 1fr);
}

.Answer-Section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 50px);
  margin: 50px;
}

.item {
  border: 1px solid black;
}

.pink {
  background-color: pink;
}

.green {
  background-color: lightgreen;
}